// Header

#site-header {

	.site-branding {

		background-color: $white;

		border: solid 1px #e8e8e8;
		border: solid 1px rgba(211, 211, 211, .75);

		-webkit-box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.75);
		   -moz-box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.75);
				box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.23);

		.site-title a {
			color: $mid-grey;
		}

	}

	.site-header-main {
		background-color: $primary;
		color: $dark;
	}

	#menu-main-menu {

		background-color: transparent;

		li {

			color: $white;

			&:first-of-type a {
				border-left: solid 3px $white;
			}

			&.current-menu-item {
				background-color: $white;
				color: $primary;
			}

			a {
				border-right: solid 3px $white;
				color: inherit;
				font-size: 1.7rem;
				font-weight: bold;
			}

			a:hover,
			a:focus {
				background-color: rgba(0,0,0,.2);
			}

		}

	}

}

.site-footer {

	background: $light-grey;
	color: $dark;

}

h3 {
	font-size: 3rem;
	color: $primary;
}